<div class="container mt-5">
  <h2>哲学と技術の次元</h2>
  <p>哲学と技術について思考を整理するためのブログ</p>
  <div class=" article_content">
    <h4><%= article["title"] %></h4>
    <hr>
    <%= article["content"] %>
  </div>
</div>
