<div class="container mt-5">
  <h2 class="title_sentence"><a href="/">かねぞうドロップ</a></h2>
  <p>思考を整理するためのブログ、技術記事と雑記</p>
  <div class=" article_content">
    <h4><%= article["title"] %></h4>
    <hr>
    <%= article["content"] %>
  </div>
</div>
